body {
  background: peru;
}
form {
  max-width: 200px;
  margin: 40px auto;
  background: white;
  padding: 10px;
}
input {
  display: block;
  margin: 10px auto;
  padding: 4px;
}
.success {
  background: rgba(36, 189, 36, 0.2);
}
.error {
  background: rgba(255, 0, 0, 0.2);
}
